@font-face {
    font-family: 'cbuc-icons';
    src: url('cbuc-icons/cbuc-icons.eot');
    src: url('cbuc-icons/cbuc-icons.eot#iefix') format('embedded-opentype'), url('cbuc-icons/cbuc-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}