{
   "extends": ["@tensor-corp/eslint-config/node"],
   "plugins": [
      "filenames",
      "node",
      "promise",
      "eslint-comments"
   ],
   "rules": {
      "filenames/match-regex": [
         "warn",
         "^[0-9a-z\\-.]+$",
         true
      ],
      "node/no-extraneous-require": "error",
      "node/no-extraneous-import": "error",
      "node/no-missing-require": "error",
      "node/no-unsupported-features": "error",
      "node/no-deprecated-api": "warn",
      "node/no-unpublished-require": "error",
      "node/no-unpublished-import": "error",
      "promise/catch-or-return": "warn",
      "promise/always-return": "warn",
      "promise/param-names": "warn",
      "promise/no-return-wrap": "warn",
      "promise/no-return-in-finally": "warn",
      "promise/prefer-await-to-then": "warn",
      "eslint-comments/disable-enable-pair": [
         "error",
         {
            "allowWholeFile": true
         }
      ],
      "eslint-comments/no-aggregating-enable": "warn",
      "eslint-comments/no-duplicate-disable": "warn",
      "eslint-comments/no-unlimited-disable": "warn",
      "eslint-comments/no-unused-disable": "warn",
      "eslint-comments/no-unused-enable": "warn",
      "no-restricted-properties": [
         "warn",
         {
            "object": "_grunt",
            "property": "file"
         },
         {
            "object": "grunt",
            "property": "file"
         },
         {
            "object": "_grunt",
            "property": "template"
         },
         {
            "object": "grunt",
            "property": "template"
         },
         {
            "object": "_grunt",
            "property": "fail"
         },
         {
            "object": "grunt",
            "property": "fail"
         },
         {
            "object": "grunt",
            "property": "log"
         },
         {
            "object": "_grunt",
            "property": "log"
         }
      ],
      "no-restricted-modules": [
         "warn",
         {
            "name": "fs",
            "message": "Please use fs-extra instead."
         }
      ],
      "no-prototype-builtins": "off",
      "no-underscore-dangle": [
         "warn",
         {
            "allow": [],
            "allowAfterThis": true,
            "allowAfterSuper": true,
            "enforceInMethodNames": true
         }
      ],
   }
}
