{
   "extends": ["@tensor-corp/eslint-config/node"],
   "plugins": [
      "filenames",
      "node",
      "promise",
      "eslint-comments"
   ],
   "rules": {
      "filenames/match-regex": [
         1,
         "^[0-9a-z\\-.]+$",
         true
      ],
      "node/no-extraneous-require": 2,
      "node/no-extraneous-import": 2,
      "node/no-missing-require": 2,
      "node/no-unsupported-features": 2,
      "node/no-deprecated-api": 1,
      "node/no-unpublished-require": 2,
      "node/no-unpublished-import": 2,
      "promise/catch-or-return": 1,
      "promise/always-return": 1,
      "promise/param-names": 1,
      "promise/no-return-wrap": 1,
      "promise/no-return-in-finally": 1,
      "promise/prefer-await-to-then": 1,
      "eslint-comments/disable-enable-pair": [
         2,
         {
            "allowWholeFile": true
         }
      ],
      "eslint-comments/no-aggregating-enable": 1,
      "eslint-comments/no-duplicate-disable": 1,
      "eslint-comments/no-unlimited-disable": 1,
      "eslint-comments/no-unused-disable": 1,
      "eslint-comments/no-unused-enable": 1,
      "no-restricted-properties": [
         1,
         {
            "object": "_grunt",
            "property": "file"
         },
         {
            "object": "grunt",
            "property": "file"
         },
         {
            "object": "_grunt",
            "property": "template"
         },
         {
            "object": "grunt",
            "property": "template"
         },
         {
            "object": "_grunt",
            "property": "fail"
         },
         {
            "object": "grunt",
            "property": "fail"
         },
         {
            "object": "grunt",
            "property": "log"
         },
         {
            "object": "_grunt",
            "property": "log"
         }
      ],
      "no-restricted-modules": [
         1,
         {
            "name": "fs",
            "message": "Please use fs-extra instead."
         }
      ]
   }
}
