<div class="TestClassTmpl"></div>
<script key="bundles" type="text/javascript" src="{{wsRoot}}ext/requirejs/bundles.js"></script>
<script key="require" type="text/javascript" src="%{CDN_ROOT}requirejs/2.3.5-p3/require-min.js"></script>
<script key="contents" type="text/javascript" src="{{resourceRoot}}contents.js"></script>
<img class="controls-CompositeView__tileImg" src="{{item.get(image) ? item.get(image) : '/resources/SBIS3.CONTROLS/themes/online/img/defaultFolder.png'}}" />